<nav>
<%= link_to "Venues Index", venues_path %>
</nav>

<h1>Shows</h1>  

<% @shows.each do |show| %>
  <h3>Artist: <%= show.artist_name %></h3>
  <p>Price: <%= show.price %></p>
  <p>Sold Out? <%= show.sold_out %></p>
<% end %>
